*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family:Montserrat,Arial, Helvetica, sans-serif ;
    width: 100%;
    background-image: url(img0.png);
}
.mainheader{
    height: 90px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header{
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
}
.mainheader1{
    height: 90px;
    /* background-color: black; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.header1{
    width: 80%;
    /* display: flex;
    flex-direction: row;
    align-items: center; */
}
.logo{
    width: 190px;
}
.menu{
    flex: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
header ul li a{
    color: white;
    font-size: 14px;
    text-decoration: none;
    list-style-type: none;
    margin: 14px;
    transition-duration: 500ms;
}
header ul li a:hover {
    color: #038dfe;
    transition-duration: 500ms;
}
header ul li {
    list-style: none;
    display: inline-block;
}
.inscris{
    background: #038dfe ;
    padding: 10px 45px;
    border-radius: 20px;
    box-shadow: 0px 0px 30px 3px #038dfe;
}
.inscris:hover{
    background: white;
    box-shadow: none;
}
.img2{
    width: 100%;
    height: 500px;
    background-image: url(img2.png);
}
.titre{
    width: 80%;
    color: white;
    flex: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header1 h1{
    color: white;
    font-size: 50px;
    font-weight: 300;
    padding-top:40px;
    position: absolute;
    top: 250px;
}
.header1 h2{
    color: white;
    font-size: 24px;
    font-weight: 300;
    padding-top:40px;
    position: absolute;
    top: 330px;
}
.mainheader2{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    top: 450px;
    color: white;
    list-style-type: none;
}
.p1{
    color: white;
    padding: 15px 40px;
    margin-right: 15px;
    background-color: none;
    border: 2px solid white;
    border-radius: 20px;
    text-decoration: none;
    transition-duration: 500ms;
    
}
.p2{
    color: white;
    padding: 15px 40px;
    background-color: #038dfe;
    border-radius: 20px;
    text-decoration: none;
    box-shadow: 0px 0px 40px 5px #038dfe;
    transition-duration: 500ms;
    
}
.p2:hover {
    color: gray;
    background-color: white;
    transition-duration: 500ms;
    box-shadow: none;
}
.p1:hover {
    color: gray;
    background-color: white;
    transition-duration: 500ms;
}


.aside{
    margin-left:5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.aside h1{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 50px;
}
